@import "_normalize";
@import "_variables";

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap');


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: $white;
  border: 16px solid $darkblue;
  color: $darkblue;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

.header {
  margin: 0 auto 200px auto;
  padding-top: 128px;
  width: 82%;
}

.hero {
  max-width: 781px;
  width: 100%;
  &__heading {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3.5rem;
    margin-bottom: 16px;
  }
  &__link {
    color: $blue;
    font-weight: 500;
  }
  &__paragraph {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 2.25rem;
    margin-bottom: 60px;
    max-width: 681px;
    width: 100%;
  }
  &__mail {
    color: $blue;
    display: block;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 2rem;
    max-width: 358px;
    text-decoration: none;
    width: 100%;
    &::after {
      background-color: $blue;
      border-radius: 41px;
      content: "";
      display: block;
      height: 2px;
      margin-top: 8px;
      width: 100%;
    }
  }
}

.skills {
  margin: 0 auto;
  width: 82%;
  &__heading {
    border-bottom: 2px solid $lightergrey;
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 3rem;
    margin: 0;
    padding-bottom: 16px;
  }
}

.content {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  margin-top: 128px;
  &:last-child{
    margin-bottom: 128px;
  }
  &__heading {
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.75rem;
    margin: 0;
    &--green::before{
      background-color: $green;
      border-radius: 8px;
      content: "";
      display: block;
      margin-bottom: 24px;
      max-width: 80px;
      width: 100%;
      height: 4px;
    }
    &--red::before{
      background-color: $red;
      border-radius: 8px;
      content: "";
      display: block;
      margin-bottom: 24px;
      max-width: 80px;
      width: 100%;
      height: 4px;
    }
    &--gold::before{
      background-color: $gold;
      border-radius: 8px;
      content: "";
      display: block;
      margin-bottom: 24px;
      max-width: 80px;
      width: 100%;
      height: 4px;
    }
  }
  &__list {
    color: $greyblue;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 2.5rem;
    margin: 24px 0 0 0;
    &--green {
      list-style-image: url(../assets/img/check-circle-green.png);
    }
    &--red {
      list-style-image: url(../assets/img/check-circle-red.png);
    }
    &--gold {
      list-style-image: url(../assets/img/check-circle-gold.png);
    }
  }

}