@import "_normalize";
@import "_variables";

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap');


html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: $white;
  border: 16px solid $darkblue;
  color: $darkblue;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  @media (max-width: $mobile) {
    border: none;
  }
}

.header {
  margin: 0 auto;
  max-width: 1184px;
  padding: 128px 24px 0 24px;
  width: 100%;
  @media (max-width: $tablet) {
    padding: 64px 16px 0 16px;
  }
  @media (max-width: $mobile) {
    max-width: 100%;
  }
}

.hero {
  max-width: 781px;
  width: 100%;
  &__image {
    margin: 0 0 32px 0;
    @media (max-width: $tablet) {
      margin: 0 0 16px 0;
      width: 80px;
    }
  }
  &__heading {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3.5rem;
    margin: 0 0 16px 0;
    @media (max-width: $tablet) {
      font-size: 1.625rem;
      line-height: 2.25rem;
    }
  }
  &__link {
    color: $blue;
    font-weight: 500;
  }
  &__paragraph {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 2.25rem;
    margin: 0 0 60px 0;
    max-width: 681px;
    width: 100%;
    @media (max-width: $tablet) {
      font-size: 0.875rem;
      line-height: 1.625rem;
    }
  }
  &__mail {
    color: $blue;
    display: block;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 2rem;
    max-width: 358px;
    text-decoration: none;
    width: 100%;
    &::after {
      background-color: $blue;
      border-radius: 41px;
      content: "";
      display: block;
      height: 2px;
      margin-top: 8px;
      width: 100%;
      @media (max-width: $tablet) {
        margin-top: 4px;
      }
    }
    @media (max-width: $tablet) {
      font-size: 0.875rem;
      line-height: 1.5rem;
      max-width: 251px;
    }
  }
  @media (max-width: $tablet) {
    width: 60%;
  }
  @media (max-width: $mobile) {
    width: 100%;
  }
}

.skills {
  margin: 0 auto;
  max-width: 1184px;
  padding: 200px 24px 0 24px;
  width: 100%;
  &__heading {
    border-bottom: 2px solid $lightergrey;
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 3rem;
    margin: 0;
    padding-bottom: 16px;
    @media (max-width: $tablet) {
      font-size: 1.5rem;
      line-height: 2rem;
      padding-bottom: 12px;
    }
    @media (max-width: $mobile) {
      text-align: center;
    }
  }
  @media (max-width: $tablet) {
    padding: 120px 24px 0 24px;
  }
  @media (max-width: $mobile) {
    padding: 120px 16px 0 16px;
  }
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 128px;
  &:last-child{
    margin-bottom: 128px;
    @media (max-width: $tablet) {
      margin-bottom: 80px;
    }
  }
  &__heading {
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.75rem;
    margin: 0;
    &--green::before{
      background-color: $green;
      border-radius: 8px;
      content: "";
      display: block;
      margin-bottom: 24px;
      max-width: 80px;
      width: 100%;
      height: 4px;
      @media (max-width: $tablet) {
        max-width: 40px;
        margin-bottom: 8px;
      }
    }
    &--red::before{
      background-color: $red;
      border-radius: 8px;
      content: "";
      display: block;
      margin-bottom: 24px;
      max-width: 80px;
      width: 100%;
      height: 4px;
      @media (max-width: $tablet) {
        max-width: 40px;
        margin-bottom: 8px;
      }
    }
    &--gold::before{
      background-color: $gold;
      border-radius: 8px;
      content: "";
      display: block;
      margin-bottom: 24px;
      max-width: 80px;
      width: 100%;
      height: 4px;
      @media (max-width: $tablet) {
        max-width: 40px;
        margin-bottom: 8px;
      }
    }
    @media (max-width: $tablet) {
      font-size: 1.375rem;
      line-height: 2rem;
    }
  }
  &__list {
    color: $greyblue;
    font-size: 1.125rem;
    font-weight: 400;
    display: grid;
    grid-column-gap: 24px;
    grid-template-columns: repeat(2, 1fr);
    line-height: 2.5rem;
    list-style-type: none;
    margin: 24px 0 0 0;
    padding: 0;
    @media (max-width: $tablet) {
      font-size: .875rem;
      line-height: 2.25rem;
    }
    @media (max-width: $mobile) {
      grid-template-columns: 1fr;
    }
  }
  @media (max-width: $tablet) {
    margin-top: 62px;
  }
  &__item{
    display: flex;
    align-items: center;
    &--green::before{
      background: url(../assets/img/check-circle-green.png);
      background-size: cover;
      content: "";
      display: block;
      margin-right: 12px;
      width: 18px;
      height: 18px;
      @media (max-width: $tablet) {
        width: 12px;
        height: 12px;
        margin-right: 12px;
      }
    }
    &--red::before{
      background: url(../assets/img/check-circle-red.png);
      background-size: cover;
      content: "";
      display: block;
      margin-right: 12px;
      width: 18px;
      height: 18px;
      @media (max-width: $tablet) {
        width: 12px;
        height: 12px;
        margin-right: 12px;
      }
    }
    &--gold::before{
      background: url(../assets/img/check-circle-gold.png);
      background-size: cover;
      content: "";
      display: block;
      margin-right: 12px;
      width: 18px;
      height: 18px;
      @media (max-width: $tablet) {
        width: 12px;
        height: 12px;
        margin-right: 12px;
      }
    }
  }
  @media (max-width: $mobile) {
    grid-template-columns: 1fr;
  }
}

.projects {
  background-color: $lightgrey;
  width: 100%;
  padding: 128px 24px;
  &__container {
    margin: 0 auto;
    max-width: 1184px;
    width: 100%;
  }
  &__heading {
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 3rem;
    margin: 0 0 16px 0;
    @media (max-width: $tablet) {
      font-size: 1.5rem;
      line-height: 2rem;
      margin: 0 0 8px 0;
    }
    @media(max-width: $mobile) {
      text-align: center;
    }
  }
  &__paragraph {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 2.25rem;
    margin: 0 0 60px 0;
    max-width: 580px;
    width: 100%;
    @media (max-width: $tablet) {
      font-size: 0.875rem;
      line-height: 1.625rem;
      margin: 0 0 32px 0;
    }
    @media(max-width: $mobile) {
      text-align: center;
      max-width: 100%;
    }
  }
  @media (max-width: $tablet) {
    padding: 80px 24px;
  }
  @media (max-width: $mobile) {
    padding: 80px 16px;
  }
}

.repos {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  margin: 0;
  padding: 0;
  &__list {
    background: $white;
    box-shadow: 0px 6px 16px rgba(24, 41, 67, 0.09);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 580px;
    width: 100%;
    @media (max-width: $mobile) {
      max-width: 100%;
    }
  }
  &__info {
    padding: 48px 48px 0 48px;
  }
  &__icon {
    margin-bottom: 16px;
    @media (max-width: $tablet) {
      width: 40px;
    }
  }
  &__title {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 2.25rem;
    margin: 0 0 8px 0;
    @media (max-width: $tablet) {
      font-size: 1rem;
      line-height: 1.5rem;
      margin: 0 0 4px 0;
    }
  }
  &__description {
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 2rem;
    margin: 0 0 48px 0;
    @media (max-width: $tablet) {
      font-size: .875rem;
      line-height: 1.625rem;
      margin: 0 0 32px 0;
    }
  }
  &__links {
    background-color: $lightgrey;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    margin: 0;
    padding: 16px 48px;
    text-align: right;
    text-decoration: none;
    width: 100%;
    @media (max-width: $tablet) {
      padding: 10px 32px;
    }
  }
  &__link {
    color: $blue;
    font-size: 1.125rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    flex-direction: rows;
    line-height: 2.25rem;
    text-decoration: none;
    &--demo {
      border-right: 2px solid $lightergrey;
      margin: 0 24px 0 0;
      padding-right: 24px;
      @media (max-width: $tablet) {
        margin: 0 16px 0 0;
        padding-right: 16px;
      }
    }
    @media (max-width: $tablet) {
      font-size: .875rem;
      line-height: 1.75rem;
    }
  }
  &__image {
    margin-right: 8px;
    @media (max-width: $tablet) {
      width: 20px;
      margin-right: 6px;
    }
  }
  @media (max-width: $mobile) {
    grid-template-columns: 1fr;
  }
}

.contact {
  background-color: $darkblue;
  color: $white;
  width: 100%;
  padding: 128px 24px;
  &__container {
    margin: 0 auto;
    max-width: 1184px;
    width: 100%;
  }
  &__heading {
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.75rem;
    margin: 0 0 20px 0;
    &::before{
      background-color: $white;
      border-radius: 8px;
      content: "";
      display: block;
      margin-bottom: 24px;
      max-width: 80px;
      width: 100%;
      height: 4px;
      @media (max-width: $tablet) {
        max-width: 40px;
        margin-bottom: 8px;
      }
    }
    @media (max-width: $tablet) {
      font-size: 1.5rem;
      line-height: 2rem;
      margin: 0 0 8px 0;
    }
  }
  &__paragraph {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 2.25rem;
    margin: 0 0 20px 0;
    max-width: 580px;
    width: 100%;
    @media (max-width: $tablet) {
      font-size: .875rem;
      line-height: 1.625rem;
      margin: 0 0 30px 0;
      max-width: 325px;
    }
  }
  &__mail {
    color: $blue;
    display: block;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 2rem;
    max-width: 358px;
    text-decoration: none;
    width: 100%;
    &::after {
      background-color: $blue;
      border-radius: 41px;
      content: "";
      display: block;
      height: 2px;
      margin-top: 8px;
      width: 100%;
      @media (max-width: $tablet) {
        margin-top: 4px;
      }
    }
    @media (max-width: $tablet) {
      font-size: 0.875rem;
      line-height: 1.5rem;
      max-width: 251px;
    }
  }
  @media (max-width: $tablet) {
    padding: 120px 24px;
  }
  @media (max-width: $mobile) {
    padding: 120px 16px;
  }
}

.icons {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0 0 48px 0;
  padding: 0;
  &__item {
    margin-right: 24px;
  }
  @media (max-width: $tablet) {
    margin: 0 0 32px 0;
  }
}